h1{
    font-family: 'Old Standard TT';
    font-weight: 700;
    transition: color 1s;
}
h1:hover{
    color: #a6a5a8;
}
h2{
    font-family: 'Old Standard TT';
    font-weight: 700;
}

button{
    font-family: 'Raleway', sans-serif ;
    font-weight: 700;
}
label{
    font-family: 'Old Standard TT';
    font-weight: 400;
}
.nav-item{
    font-family: 'Raleway', sans-serif ;
    font-weight: 700;
}
.vertical{
    font-family: 'Old Standard TT';
    font-weight: 700;
    font-size: 30px;
}
#parr{
    font-family: 'Raleway', sans-serif ;
    font-weight: 400;
}
